{%extends 'base.html' %}

{%block titulo%}
Home
{%endblock titulo%}

{%block conteudo%}
<section class="py-5">
    <header class="h-100 p-5 text-white bg-dark text-center justify-content-center align-items-center"> 
        <h1 class="display-5 fw-bold">
            App Market
        </h1>
        <p class="fs-4">bem vindo à aplicação, Para acessar a página de produção, clique no botão abaixo</p>

        <a href="/produto" type="button" class="btn btn-success">Iniciar</a>
    </header>
</section>

{%endblock conteudo%}